h1 {
  font-style: italic;
  font-size: 40px;
}

body {
    background-color: #d4ac6e;
}

form {
  font-family : inherit;
  font-size   : 100%;
}
label {
  display: inline-block;
  text-align: center;
  width: 100px;
  vertical-align: top;
  font-weight: bold;
}
